In [37]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('feedback.csv')

In [50]:
pd.options.mode.chained_assignment = None
df.columns = ['ID', 'Location', 'Track', 'Week', 'Rating', 'Pacing']
df

        ID       Location           Track    Week  Rating             Pacing
0      134  San Francisco  Apps, Explorer  Week 1       3         Just right
1       36    Los Angeles            Apps  Week 1       4  A little too fast
2      117  San Francisco           Games  Week 1       4       Way too slow
3      253            NaN             NaN  Week 2       4  A little too fast
4      350  New York City  Apps, Explorer  Week 1       4         Just right
...    ...            ...             ...     ...     ...                ...
1448  1495  New York City  Apps, Explorer  Week 7      10         Just right
1449  1496  New York City  Apps, Explorer  Week 7       8         Just right
1450  1497  New York City            Apps  Week 7      10         Just right
1451  1498  New York City  Apps, Explorer  Week 7       1  A little too slow
1452  1499  New York City            Apps  Week 5       8         Just right

[1450 rows x 6 columns]

# Question 1: How do the student's ratings change over the length of the course?

In [66]:
df['Rating'] = df['Rating'].astype(int)
pd.crosstab(df['Week'], df['Rating'])

Rating  0   1   2   3   4   5   6   7   8   9   10
Week
Week 1   0   0   0   1   6   9  12  40  91  61  68
Week 2   1   0   0   2   2   6  12  34  82  76  61
Week 3   0   1   0   1   0   5  13  22  64  69  66
Week 4   0   0   0   2   3   6   8  25  49  55  45
Week 5   1   0   1   0   2   4   7  22  45  45  52
Week 6   0   0   1   1   0   1   5  18  41  34  43
Week 7   0   1   0   1   0   4   2  15  19  41  37
Week 8   0   0   0   0   0   0   0   1   1   3   4

In [136]:
total = 0
total_list = []
def get_sums():
    for i in range(1, len(df['Week'].value_counts()) + 1):
        total = 0
        for j in range(0, len(df['Rating'].value_counts())):
            total += j * len(df[(df['Week'] == f'Week {i}') & (df['Rating'] == j)])
        total_list.append(total/len(df[df['Week'] == f'Week {i}']))
    return total_list
        
get_sums()

[8.26736111111111,
 8.347826086956522,
 8.522821576763485,
 8.33160621761658,
 8.441340782122905,
 8.541666666666666,
 8.6,
 9.11111111111111]