In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('feedback.csv')

In [2]:
pd.options.mode.chained_assignment = None
df.columns = ['ID', 'Location', 'Track', 'Week', 'Rating', 'Pacing']
df['Rating'] = df['Rating'][df['Rating']!='#ERROR!']
df['Rating'].value_counts()

8     392
9     384
10    376
7     177
6      59
5      35
4      13
3       8
1       2
0       2
2       2
Name: Rating, dtype: int64

# Question 1: How do the student's ratings change over the length of the course?

In [3]:
df = df.dropna()
df['Rating'] = df['Rating'].astype(int)
pd.crosstab(df['Week'], df['Rating'])

Rating  0   1   2   3   4   5   6   7   8   9   10
Week
Week 1   0   0   0   1   6   9  10  39  89  56  66
Week 2   0   0   0   2   0   6  11  31  80  74  57
Week 3   0   1   0   1   0   4  13  19  63  69  63
Week 4   0   0   0   2   3   6   8  23  49  55  43
Week 5   1   0   1   0   2   3   7  22  45  44  51
Week 6   0   0   1   1   0   1   5  18  41  34  42
Week 7   0   1   0   1   0   4   2  14  19  41  37
Week 8   0   0   0   0   0   0   0   1   1   3   4

In [7]:
total = 0
total_list = []
def get_sums():
    for i in range(1, len(df['Week'].value_counts()) + 1):
        total = 0
        for j in range(0, len(df['Rating'].value_counts())):
            total += j * len(df[(df['Week'] == f'Week {i}') & (df['Rating'] == j)])
        total_list.append(round(total/len(df[df['Week'] == f'Week {i}']),3))
    return total_list
        
ratings = get_sums()

In [19]:
weeks = ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6', 'Week 7', 'Week 8']
print(ratings)
scores = pd.DataFrame({'Weeks': weeks, 'Ratings': ratings})

[8.264, 8.41, 8.541, 8.328, 8.449, 8.531, 8.613, 9.111]